
    /*i colori possono essere scelti per nome (red, yellow..)
    Devono però essere pr4eimpostati nel linguaggio

    Posso anche utilizzare i colori esadecimali. Esempio:
    #fff => bianco

    Posso usare anche i colori indicati in RGB e i valori possono andare da 0 a 255

    Per usare RGB con trasparenza, scriveremo rgba (a sta per opacità e va da 0 a 1 => 0 è trasparente, 1 è pieno)
    */

    div{/*selezione attraverso il tag*/
        color: red;
    }

    #div-blue{/*selezione attraverso id*/
        color: blue
    }

    .testo-verde{/*selezione attraverso classe*/
        color: green
    }

    span{
        font-style: italic;
    }

    #area-grassetto > span{
        font-weight: 600;
    }

    #area-grassetto div span{
        background-color: blue;
    }