/* HEADER */

nav ul li{
    display: inline-block;
}

/* MAIN */

#img-html{
    float: left;
    border: 3px solid rgb(0, 135, 176);
    margin-right: 1rem;
    margin-top: 0.7rem;
}

header{
    position: sticky;
    top: 1rem;
}

/* ARTICLE */

section{
    margin-top: 20rem;
}

section h2{
    border: 0.1px solid rgb(159, 159, 159);
    background-color: rgb(196, 196, 196);
    box-shadow: 0 1.5px 1.5px #444;
    margin-right: 2rem;
    margin-top: -3rem;
    height: 3.5rem;
    width: 8rem;
    font-size: 1.5rem;
}

section p{
    margin-top: 0.8rem;
}

iframe{
    display: none;
}

/* BUTTON */

.social{
    position: fixed;
    bottom: 45rem;
    right: 1.6rem;
    width: 1.6rem;
    height: 1rem;
    color: rgb(45, 101, 185);
    font-size: 2rem;
    display: block;
}

.top a{
    position: fixed;
    bottom: 7rem;
    right: 1.6rem;
    width: 1.6rem;
    height: 1rem;
    color: rgb(242, 109, 0);
    font-size: 2rem;
    display: block;
}