.container{
    margin-left: 0 auto;
    width: 90%;
}

.blocco{
    background-color: rgb(11, 183, 123);
    width: calc(100% / 6);
    height: 200px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

.blocco:last-of-type{
    display: none;
}

.blocco:nth-of-type(3){
    opacity: 0.5;
}

.blocco:nth-of-type(4){
    visibility: hidden;
}

.blocco:target{
    background-color: blueviolet;
}