input[type="text"], input[type="password"]{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    height: 40px;
    width: 300px;
}

input:not([type="radio"]):focus{
    outline: 2px solid rgb(171, 27, 78);
}

input:required{
    border: 1px solid rgb(171, 27, 78);
}

input:checked{
    border: 1px solid blue;
}