/* SCSS RGB */
$outer-space-crayola: rgba(40, 61, 59, 1);
$skobeloff: rgba(25, 114, 120, 1);
$champagne-pink: rgba(237, 221, 212, 1);
$champagne-pink-main: rgba(237, 221, 212, 0.9);
$international-orange-golden-gate-bridge: rgba(196, 69, 54, 1);
$international-orange-golden-gate-bridge-body: rgba(196, 69, 54, 0.8);
$international-orange-golden-gate-bridge-divider: rgba(196, 69, 54, 0.4);
$liver-organ: rgba(119, 46, 37, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-right: linear-gradient(90deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-bottom: linear-gradient(180deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-left: linear-gradient(270deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-top-right: linear-gradient(45deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-bottom-right: linear-gradient(135deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-top-left: linear-gradient(225deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-bottom-left: linear-gradient(315deg, #283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
$gradient-radial: radial-gradient(#283d3bff, #197278ff, #edddd4ff, #c44536ff, #772e25ff);
