#main-header{
    height: 70px;
    background-color: plum;
    position: fixed;
    width: 100%;
}

#content-area{
    padding-top: 70px;
}

#btt{
    background-color:aquamarine;
    color: white;
    width: 50px;
    height: 50px;
    bottom: 15px;
    right: 15px;
    text-align: center;
}

#popup{
    background-color: white;
    position: fixed;
    top: 10vh;
    height: 300px;
    left: 10%;
    right: 10%;
    outline: 10px solid rgba(0, 0, 0, 0.8);
}