
@media screen and (min-width: 480px) {/*mobile*/

    .col{
        background-color: yellow;
        width: calc(100% / 2 - 8px);
        display: inline-block;
        margin-bottom: 10px;
    }
}


@media screen and (min-width: 768px) {/*tablet*/

    .container {
        width: 768px;
    }
    .col{
        background-color: green;
        width: calc(100% / 3 - 8px);
    }
}


@media screen and (min-width: 1440px) {

    .container{
        width: 1170px;
    }
    .col{
        background-color: blue;
        width: calc(100% / 4 - 8px);
    }
}
