.area-blocchi{
    margin-top: 300px;
    position: relative;
}

.fascia{
    background-color: rgb(198, 243, 255);
    height: 100px;
    border: 1px solid black;
    margin: 10px 0;
    text-align: center;
}

#elemento-absolute{
    position:absolute;
    top: -30px;
    width: 100%;
}

/*esercizio2*/

#area-blu{
    background-color: aquamarine;
    height: 600px;
}

.blocco{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    position: absolute;
}

.blocco:nth-of-type(1){
    right: 10px;
    top:10px;
}

.blocco:nth-of-type(2){
    left: 10px;
    bottom: 0;
}

.blocco:nth-of-type(3){
    left: 10px;
    top: 10px;
}

.blocco:nth-of-type(4){
    right: 10px;
    bottom: 10px;
}

/*z-index*/

.container{
    width: 1000px;
    margin: auto;
    position: relative;
}

.blocco-colorato{
    width: 200px;
    height: 200px;
    border: 1px dashed black;
    position: absolute;
}

.blocco-colorato:nth-of-type(1){
    background-color: red;
    z-index: 1;
    left: 450px;
}

.blocco-colorato:nth-of-type(2){
    z-index: 2;
    left: 100px;
    top:100px;
    background-color: yellow;
}

.blocco-colorato:nth-of-type(3){
    z-index: 5;
    left: 200px;
    top:200px;
    background-color: rgb(231, 115, 0);
}

.blocco-colorato:nth-of-type(4){
    z-index: 4;
    left: 300px;
    top:300px;
    background-color: rgb(14, 225, 77);
}

.blocco-colorato:nth-of-type(5){
    z-index: 5;
    left: 400px;
    top:400px;
    background-color: rgb(200, 14, 225);
}

.blocco-colorato:nth-of-type(6){
    z-index: 6;
    left: 500px;
    top:500px;
    background-color: rgb(14, 211, 225);
}