header ul {
  display: flex; }
  header ul a {
    color: black; }
  header ul li {
    padding: 10px;
    background-color: blue; }
    header ul li:hover {
      background-color: white; }

h1 {
  background-color: red; }

p {
  background-color: red; }

.blocco {
  background-color: green;
  width: 100px;
  height: 100px; }

.quadrato {
  background-color: blue;
  width: 200px;
  height: 200px; }
  .quadrato:hover {
    background-color: #000066; }

p {
  font-size: 2rem;
  font-family: "Arial"; }
