main{
    font-family: 'Indie Flower', cursive;
    will-change: transform;
}

h1{
    font-weight: bold;
    font-size: 130%;
    margin-top: 20px;
}

#lavagna {
    background-color: #000;
    height: 100vh;
    width: 300vh;
    display: flex;
    padding: 50px;
    align-items: center;
    gap: 20px;
}

.postit-yellow, .postit-green, .postit-pink, .postit-blue{
    width: 150px;
    height: 100px;
    text-align: center;
    box-shadow: 3px 3px 3px rgb(202, 202, 202);
}

.postit-yellow {
    background-color: yellow;
}

.postit-green {
    background-color: greenyellow;
}

.postit-pink {
    background-color: rgb(220, 89, 179);
}

.postit-blue {
    background-color: rgb(0, 225, 255);
}

.postit-yellow:hover {
    animation-name: animazione1;
    animation-duration: 2s;
}

@keyframes animazione1{
    0%{ transform: rotate(30deg) }
    30%{ transform: scale(3) rotate(30deg) }
    75%{ transform: rotate(-20deg) }
    100%{ transform: rotate(30deg) }
}

.postit-green:hover {
    animation-name: animazione2;
    animation-duration: 2s;
}

@keyframes animazione2{
    0% {transform: translate(0, 0) rotateY(0deg)}
    30%{transform:  scale(3) translate(0, 50px) rotateY(0deg)}
    75%{transform: translate(0, -15px) rotateY(0deg)}
    100%{transform: translate(0, 0) rotateY(0deg)}
}

.postit-pink:hover {
    animation-name: animazione3;
    animation-duration: 2s;
}

@keyframes animazione3{
    0% {background-color: rgb(220, 89, 179)}
    30%{ background-color: black}
    30% {box-shadow: 3px 3px 3px rgb(0, 0, 0);}
    30% {font-size: 200%;}
    30% {color: white;}
    100%{background-color: rgb(220, 89, 179)}
}