iframe{
    display: none;
}


.articoli{
    background-color: #ffffff;
    border:#ffffff;   
    margin-top: -3rem;   
    margin-right: -1rem;
    margin-left: -1rem;  
}

.novita{
    position: sticky;
    top: 20rem;
}

/*GRID*/

main{
    display: grid;
}

aside{
    grid-column-start: 2; 
    grid-column-end: 3;
    margin-left: 2rem;
}

