* {
    font-family: 'Lexend', sans-serif;
}

.container {
    width: 900px;
    margin: auto;
    background-color:#1b2a4e;
}

.text-center {
    text-align: center;
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.show {
    visibility: visible !important;
    opacity: 100 !important;
}

#griglia > div {
    margin: 20px 10px;
    width: 120px;
    height: 120px;
    background-color:#dcc2ff;
    border: 3px solid #8b8aed;
    border-radius: 10px;
}

.timer {
    padding: 20px 0;
    color: #8b8aed;
    font-size: 1.2rem;
    font-family: 'Lexend', sans-serif;
}

.icon {
    font-size: 100px;
    text-align: center;
    visibility: visible !important;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    cursor: wait;
}

.show {
    animation-name: rotazione-carta;
    animation-duration: .5s;
    background-color:white;
    border: 3px solid #8b8aed;
    border-radius: 10px;
}

.find {
    animation-name: indovinato;
    animation-duration: .5s;
    background-color:white;
    border: 3px solid #8b8aed;
    opacity: 20%;
    border-radius: 10px;
}

.button {
    color:#1b2a4e;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color:#dcc2ff;
    border: 3px solid #8b8aed;
    border-radius: 5px;
}

.button:hover, #griglia > div:hover{
    background-color: #8b8aed;
    border: 3px solid #dcc2ff;
    color:  #dcc2ff;
}

#modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
}

#modal.active {
    display: flex;
}

#modal h2, #tempoTrascorso {
    color:#1b2a4e;
    font-size: 2rem;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}

@media (max-width: 600px) {
    .container {
        width: 400px;
    }

    #griglia>div {
        margin: 5px 5px;
        width: 70px;
        height: 70px;
    }

    .icon {
        font-size: 60px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 230px;
    }

    #griglia>div {
        margin: 5px 5px;
        width: 40px;
        height: 40px;
    }

    .icon {
        font-size: 20px;
    }
}

@keyframes indovinato {

    /* animazione quando si indovina */
    from {
        transform: rotate(0deg)
    }

    to {
        transform: scale(200%);
    }
    
}

@keyframes rotazione-carta {

    /* animazione quando ruota la carta */
    from {
        transform: perspective(300px) rotate3d(0, 1, 0, -100deg);
        animation-timing-function: ease-in;
    }

    50% {
        transform: perspective(300px) rotate3d(0, 1, 0, 50deg);
        animation-timing-function: ease-in;
    }

    to {
        transform: perspective(300px);
        animation-timing-function: ease-in;
    }
}