blockquote + p {/*il primo tag p dopo ogni blockquote (adiacente)*/
    color: red;
}

span ~ b{
    color: blue;
}

button{
    background-color: red;
    transition: background-color 1s;
}

button:hover{
    background-color: yellow;
    border: none;
}

ul li:not(.escluso){
    text-decoration: overline;
}

ul li:last-child{
    color: purple
}

ul li:nth-of-type(3){
    background-color: yellow;
}

table tr:nth-of-type(odd){
    background-color: grey;
}

table tr td::after{
    content: "@";
}