body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/*HEADER*/

img{/*epicode immagine*/
    margin-top: 5rem;
    margin-bottom: 5rem;
}

header{
    background-color: black;
    text-align: center;
}

/*MAIN*/

main{/*sfondo*/
    background-image: url(..//images/banner.jpg);
    background-position: center;
    background-size:cover;
    height: 40rem;
}


nav.introduzione{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
    font-size: 2rem;
    color: #000000;
    line-height: 4rem;
}

h1{/*corso web developer*/
    font-size: 6rem;
    color: #25a2c3;
    font-weight: bold;
    line-height: 7rem;
    padding-top: 5rem;
}

button{
    margin-top: 1rem;
    background-color: #f04c2f;
    color: white;
    border: 0;
    width: 15rem;
    height: 5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.3rem;
}

img.cerchio{
    margin-top: 5rem;
    border-radius: 100rem;
    height: 30rem;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px
}

img.pc{
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
}

img.ufficio{
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
}

img.tastiera{
    width: 50rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 10px;
}

section h3{/*sezioni uguali*/
    font-size: 3rem;
    color: #25a2c3;
    font-weight: bold;
    line-height: 2rem;
    padding-top: 3rem;
}

div p{/*paragrafi uguali*/
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 2rem;
    color: #000000;
    line-height: 4rem;
    padding-bottom: 3rem;
}

section.evidenziato{
    background-color: #f04c2f;
    font-style: italic;
    font-size: 2rem;
    line-height: 3rem;
    margin:5rem;
    height: 30rem;
    padding-top: 10rem;
}

h2{
    font-style: normal;
    color: white;
    font-size: 4rem;
    line-height: 1.5rem;
}

section blockquote{
    font-style: italic;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    margin: 5rem;
}

section cite h4{
    font-style: normal;
    color: white;
    font-size: 2.5rem;
    margin: 4rem;
}

section cite h5{
    font-style: normal;
    color: white;
    font-size: 1.5rem;
}

/*FOOTER*/

footer{
    background-color: #25a2c3;
    height: 30rem;
    margin: 5rem;
    margin-top: 350rem;
}

footer a, address{
    color: white;
    font-size: 2rem;
}

footer h2{
    font-weight: bold;
    line-height: 10rem;
}

footer p{
    color: white;
    font-size: 2rem;
    line-height: 3.5rem;
}

.privacy, strong{
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.5);
    line-height: 10rem;
}
