#transform-area{
    perspective: 400px;
    background-color: black;
    height: 100vh;
}

.quadrato{
    height: 100px;
    width: 100px;
    margin-left:100px;
    background-color: red;
    color: #fff;
    font-size: 3rem
}

#n1{
    transform: rotate(30deg);/*rotateZ()*/
}
#n2{
    transform: rotateX(100deg);
}
#n3{
    transform: rotateY(45deg);
}

#n4{
    transform: scale(0.5) rotate(30deg);
}
#n5{
    transform: skew(10deg);
}
#n6{
    transition: transform 0.5s, background-color 2s ;
    transition-delay: 1s, 0s;
}
#n6:hover{
    transform: skew(10deg) scale(1.5) rotate(30deg);
    background-color: yellow;
}