/* IMPOSTAZIONI GENERALI */

/* HEADER */
body{
    font-family: 'Raleway', sans-serif;
}
header h1{
    font-family: 'Raleway', sans-serif;
}

header h2{
    font-family: 'Raleway', sans-serif;
}

header h1{/*curriculum*/
    letter-spacing: 5px;
    font-size: 200%;
    text-transform: uppercase;
    color: white;
    background-color: rgb(6, 160, 183);
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 30px;
    text-align: center;
}

hr{
    border-bottom-style:dashed;
}

span{/*mario rossi*/
    color: rgb(6, 160, 183);
    background-color: white;
    line-height: 4rem;
    text-align: center;
}

header h2{/*web developer*/
    text-transform: uppercase;
    font-size: 120%;
    background-color: rgb(6, 160, 183);
    margin-right: 50px;
    margin-left: 50px;
    line-height: 3.5rem;
    text-align: center;
}

/* MAIN */

main{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 3.5rem;
}

figure img{
    border-style: outset;
    border-width: 10px;
}

figcaption{
    line-height: 1.5rem;
}

main address{
    text-align: left;
    line-height: 1rem;
}

main address a{
    color: brown;
    font-style: unset;
}

b{
    font-weight: bold;
}

main p b{/*su di me*/
    font-weight: bold;
    line-height: 3.5rem;
}

blockquote p{/*citazione*/
    background-color: rgb(214, 212, 212);
    font-style: italic;
    text-align: center;
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
}

section h2{/*presentazione, formazione*/
    font-size: 150%;
    text-transform: uppercase;
    color: rgb(6, 160, 183);
}

section h3{/*diploma scientifico*/
    font-size: 110%;
    font-weight: bold;
    text-align: left;
    line-height: 3.5rem;
}

mark{/*votazione*/
    color: white;
    background-color: rgb(6, 160, 183);

}

a{/*epicode school*/
    color:brown;
    font-style: unset;
}

section h2{/*competenze*/
    font-size: 150%;
    text-transform: uppercase;
    color: rgb(6, 160, 183);
}

section div p{/*testo competenze*/
    text-align: left;
    line-height: 2rem;
}

section div ul li{/*elenchi*/
    text-align: left;
    line-height: 2rem;
    margin-left: 50px;
}

section div dl dt{
    text-align: left;
    line-height: 1rem;
}

strong{
    color: rgb(6, 160, 183);
}

/* ELEMENTI NEL MAIN */

/* FOOTER */
footer{
    text-align: center;
    line-height: 2rem;
    background-color: rgb(46, 46, 46);
    color: white;
    line-height: 1.5rem;
}

kbd{
    font-style: italic;
    color: yellow;
}

small{
    color: gray;
    line-height: 2rem;
}

