header{
    ul{
        display: flex;
        a{
            color: black;
        }
        li{
            padding: 10px;
            background-color: blue;
            &:hover{
                background-color: white;
            }
        }
    }
}