/*MAIN*/

#sfondo-bianco a{
    background: none;
    color:black;
    font-size: 1.3rem;
}

#sfondo-bianco input{
    font-size: 1rem;
    font-style: italic;
    padding: 0.5rem;
    height: 2rem;
    width: 25rem;
    margin-bottom: 2rem;
}

#sfondo-bianco form{
    width: 15rem;
    margin: auto;
}

.paragrafi3{
    margin-top: 3rem;
}

/*RESPONSIVE*/

@media screen and (min-width:768px){

    /*MAIN*/

    .paragrafi2{
        display: flex;
        flex-direction: row;
    }

    .paragrafi3{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h4{
        margin-bottom: 1rem;
    }
}