/* IMPOSTAZIONI GENERALI */

html {font-size: 62.5%;}

.main-container{
    margin: 0 auto;
}

body{
    font-family: 'Fira Sans', sans-serif; 
    text-align: center;   
}

h2, h3, h4, h5{
    color: black;
    line-height: 2.5rem;
}

h1{
    color: white;
    font-size: 4rem;
    line-height: 4.5rem;
    margin-top: 2rem;
    text-shadow: 2px 2px 4px black;
}

h2{
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2rem;
}

h3{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
}

h4{
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

h5{
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

a, form{
    background: linear-gradient(90deg, #6cc1e2 0%, #392f7a 80%);
    color:white;
    padding: 1rem;
    font-size: 1.8rem;
    text-decoration: none;
}


/* HEADER */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    box-shadow: 0 0 25px #d3d3d3;
}

.navbar i{
    padding-top: 0.5rem;
    padding-right: 3rem;
}

#menu{
    display: none;
}

li a{
    background: none;
    color:rgb(0, 0, 0);
  }

#menu > li{
    margin: 0 1rem;
    overflow: hidden;
    transition: all 0.3s;
}

#toggle {
    display: none;
}


/* MAIN */


#banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
    text-align:left;
}

#banner h4{
    color: white;
    text-shadow: 1px 1px 2px black;
}

.paragrafi{
    margin: 2.5rem;
    padding-top: 2rem;
}

i{
    color: #e42424;
    font-size: 3rem;

}

#sfondo-bianco{
    margin-bottom: 3rem;
}

#sfondo-blu{
    background-color: #0c0633;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: -2.5rem;
    margin-left: -2.5rem;
}

#sfondo-blu h2, #sfondo-blu h4{
    color: white;
}

#sfondo-blu h2{
    padding-top: 3rem;
}

#sfondo-blu h4{
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 0rem;
}

#sfondo-blu a{
    margin-bottom: 7rem;
}


/* FOOTER */

footer{
    background-color: rgb(238, 238, 238);
    padding: 3.5rem;
}

h6{
    line-height: 2rem;
}

#sfondo-grigio i{
    margin-bottom: 3rem;
    margin-top: -1rem;
}

#sfondo-grigio a{
    background: none;
    color: black;
    font-size: 1rem;
    margin: -1rem;
}

form{
    margin-bottom: 2rem;
    border: none;
    text-align: center;
}

#sfondo-grigio input{
    height: 3rem;
    width: 23rem;
}



/*ANIMAZIONE*/

#banner a:hover{
    animation-name: animazione;
    animation-duration: 2s;
}

@keyframes animazione{
    0% {box-shadow:none
    }
    50% {box-shadow:7px  7px 2px #000000,
        -7px -7px 2px #000000,
         7px -7px 2px #000000,
        -7px  7px 2px #000000;
    }
    100% {box-shadow:none
    }
}




/* RESPONSIVE */

@media screen and (min-width:320px) {

    /*HEADER*/

    .navbar{
        margin: 1rem;
    }

    /*MAIN*/

    .banner h4{
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    #sfondo-blu{
        margin-right: 1rem;
        margin-left: 1rem;
    }

    /*FOOTER*/

    .paragrafo4{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

}

@media screen and (min-width:768px){

    .navbar i{
        display: none;
    }

    #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    
    nav a{
        background:none;
        color: black;
    }

    #registrati{
        background: linear-gradient(90deg, #6cc1e2 0%, #392f7a 80%);
        color:white;
        padding: 1rem;
        font-size: 1.8rem;
        text-decoration: none;
    }
    

    /*MAIN*/
    
    #banner{
        padding: 7rem;
    }

    .paragrafi1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
    }

    .paragrafi1 h4{
        text-align:left;
    }

    #sfondo-blu{
        margin-right: -2.5rem;
        margin-left: -2.5rem;
        margin-top: -2rem;
    }

    .paragrafi2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        text-align: left;
    }

    .paragrafi2 img{
        width: 45rem;
    }

    .paragrafi3{
        display: flex;
        flex-direction: column;
    }

    /*FOOTER*/

    .paragrafo4{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 2rem;
    }

    .paragrafo5{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

}

@media screen and (min-width:1024px){

    /*MAIN*/

    .paragrafi1, .paragrafo4 {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    #banner{
        padding-left: 25rem;
        padding-right: 25rem;
    }

    #sfondo-blu{
        padding-top: 5rem;
    }

}